:root {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --cell-size: 3vh;
  --grid-background-color: #1c1d1d;
  --grid-border-color: #2b2929;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9d9d9d;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: calc((var(--cell-size) * 10));
  height: calc((var(--cell-size) * 23));
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(23, 1fr);
  margin: 1rem;
  background-color: var(--grid-background-color);
}

.cell {
  width: calc(var(--cell-size));
  height: calc(var(--cell-size));
  display: inline-block;
  background-color: var(--cell-color);
  border: 1px solid var(--cell-border-color, var(--grid-border-color));
}

.side-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  height: calc((var(--cell-size) * 20));
}

.hold {
  --cell-size: 2.5vh;
  width: calc((var(--cell-size) * 4));
  height: calc((var(--cell-size) * 4));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--grid-background-color);
}

.next {
  --cell-size: 2.5vh;
  width: calc((var(--cell-size) * 4));
  height: calc((var(--cell-size) * 20));
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: var(--grid-background-color);
}

.btn-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  row-gap: 0.25rem;
}

.btn-container .btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: #e0e0e0;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}

.modal-close-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.modal-close {
  display: block;
  border: 1px solid black;
  line-height: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  width: min-content;
  float: inline-end;
}

.modal-body {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  transition: transform 0.3s ease-in-out;
  background-color: #e0e0e0;
  padding: 1rem;
  border-radius: 1rem;
}

input:checked~.modal-overlay {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

input:checked~.modal-overlay .modal-body {
  transform: translate(-50%, -50%);
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1.25rem;
  margin: 0.25rem;
}

.form-group label {
  display: block;
  flex: 1;
}

.form-group input {
  width: 8rem;
  font-size: 1.25rem;
  text-align: center;
}

.form-group button {
  font-size: 1rem;
  width: auto;
  height: auto;
  padding: 0.25rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  cursor: pointer;
}

.parameter-info {
  display: flex;
  gap: 0.25rem;
  min-width: 6rem;
}
